/* your CSS goes here */

/* First*/
* {
    box-sizing: border-box;
}

/* Second*/
body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

.material-icons {
    position: relative;
    top: 5px;
}

/* Third */

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

p , dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Fourth*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #2c96bf;
    padding: .5rem .5rem 1rem;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: black;
    text-decoration: none;
    transition: color .25s ease-out, border-bottom .25s ease-out;
}

/* Fifth */

header {
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-image: url('../img/paul-gilmore-145802-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

header p {
    font-size: 1.25rem;
    font-style: italic;
}

/* Sixth */
main #menu {
    background-color: #f0f0f0;
}

#menu dt {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
}

#menu dd {
    margin: 0;
}

main #menu img {
    height: 200px;
    border-radius: 15px;
}

/* Seventh */
section#about {
    background-color: #e0e0e0;
    line-height: 1.5;
}

/* Eighth */
footer {
    color: white;
    background-color: #3e1305;

}

footer a {
    color: white;
    text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: #f0f0f0;
    border-bottom: .8rem solid #f0f0f0;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

footer p:last-child {
    padding-top: 8px;
}

